@model IEnumerable<FirstChallenge.Models.ComicBook>

@{
    ViewBag.Title = "Index";
    
}


@*<h2>@details</h2>

<p>

</p>


@foreach (var ComicBook in Model)
{
<h2>
    @Html.ActionLink(ComicBook.Characters, "Character", new { id = ComicBook.ComicBookId }
    
</h2>*@


